@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Catalogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Users registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Flight scheduling</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Booking simulation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Flight simulation</a>
        </li>
    </ul>
</div>
